{% extends 'base.html' %}
{% block head %}
Card Generator!
{% endblock %}
{% block content %}

<style>
    html,
    body {
        height: 100%;
    }

</style>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2>Card Generator!</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <table>{{ form.as_table }}</table>
                        <button class="btn btn-primary" type="submit">Generate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}