{% extends 'base.html' %}
{% block head %}
Card List
{% endblock %}
{% block content %}
<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>

</div>
<br>

<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Cards</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Serial Number</th>
                    <th>Card Number</th>
                    <th>Rel Date</th>
                    <th>Exp Date</th>
                    <th>CVV</th>
                    <th>Balance</th>
                    <th>Status</th>
                </tr>
                {% for card in page_obj %}
                <tr>
                    <td>{{ card.serial_number }}</td>
                    <td>{{ card.card_number }}</td>
                    <td>{{ card.release_date }}</td>
                    <td>{{ card.end_date }}</td>
                    <td>{{ card.cvv }}</td>
                    <td>{{ card.money_on_card }}</td>
                    <td>{{ card.card_status }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}